html, body {
    height: 100%;
}

body {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 17px;
    color: #000;
    background: white;
    margin: 0;
    padding: 0;
}


/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
