$vertical-stripe-padding: 8em;
$shadow-offset: 2px;
$shadow-blur: 2px;
$shadow-color: #666;

.hidden.menu {
  display: none;
}

.icon {
  text-shadow: $shadow-offset $shadow-offset $shadow-blur $shadow-color;
}

.masthead {
  & .header {
    text-shadow: $shadow-offset $shadow-offset $shadow-blur $shadow-color;
  }
  &.segment {
    min-height: 700px;
    padding: 1em 0;
  }

  & .logo.item img {
    margin-right: 1em;
  }

  & .ui.menu .ui.button {
    margin-left: 0.5em;
  }

  & h1.ui.header {
    margin-top: 3em;
    margin-bottom: 0;
    font-size: 4em;
    font-weight: normal;
  }

  & h2 {
    font-size: 1.7em;
    font-weight: normal;
  }
}

.ui.vertical.stripe {
  padding: ($vertical-stripe-padding / 2) 0 $vertical-stripe-padding;

  & h3 {
    font-size: 2em;
  }

  & .button + h3,
  & p + h3 {
    margin-top: 3em;
  }

  & .floated.image {
    clear: both;
  }

  & p {
    font-size: 1.33em;
  }

  & .horizontal.divider {
    margin: 3em 0;
  }
}

.quote.stripe.segment {
  padding: $vertical-stripe-padding/2;

  .grid .column {
    padding-top: 2em;
    padding-bottom: 2em;
  }
}

.footer.segment {
  padding: 5em 0;
  & address {
    font-style: normal;
  }
}

.secondary.pointing.menu .toc.item {
  display: none;
}

@media only screen and (max-width: 700px) {
  .ui.fixed.menu {
    display: none !important;
  }

  .secondary.pointing.menu {
    & .item,
    & .menu {
      display: none;
    }

    & .toc.item {
      display: block;
    }
  }
  .masthead {
    &.segment {
      min-height: 350px;
    }

    & h1.ui.header {
      font-size: 2em;
      margin-top: 1.5em;
    }

    & h2 {
      margin-top: 0.5em;
      font-size: 1.5em;
    }
  }
}

#demarrez {
  //background: url(/assets/img/masthead/space-x-falcon-9-rocket-light-trail.jpg);
  background: url(/assets/img/masthead/masthead.jpg);
  //background: url(/assets/img/masthead/Falcon-9-DSCOVR-Launch-2.jpg);
  //background: url(/assets/img/masthead/NYKbFpZ.jpg);
  background-size: cover;
}

#avis-clients {
  .grid .row {
    padding-top: 0;
    padding-bottom: $vertical-stripe-padding / 4;
  }
  blockquote:before {
    font-family: 'Icons';
    content: "\f10d";
    font-size: 4em;
    float: left;
    color: #DCDDDE;
    margin-left: 0;
    padding-right: 1rem;
  }
  blockquote > h3 {
    font-style: italic;
  }

}